<div layout="column" ng-cloak class="md-inline-form">

  <section layout="row">

    <!-- Sidebar: Message Templates-->
    <md-sidenav class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-xs')"
        md-whiteframe="4">
      <md-content layout-padding>
        <div class="md-media-xl card-media" flex="40" flex-offset="25" flex-offset-xs="20">
          <img ng-src="http://findicons.com/files/icons/1671/simplicio/128/mail_write.png" class="md-card-image">
        </div>
        <h4>Message Templates:</h4>
        <md-list>
          <md-list-item layout="row">
              <md-button ng-click="template1(); toggleLeft()" layout="row">
                  <p class="fa fa-pencil-square-o fa-lg" style="color: teal;" flex="20" data-toggle="modal"></p>
                  <p flex="80" data-toggle="modal">Free Friday!</p>
              </md-button>
          </md-list-item>
          <md-list-item layout="row">
              <md-button ng-click="template2(); toggleLeft()" layout="row">
                  <p class="fa fa-pencil-square-o fa-lg" style="color: teal;" flex="20" data-toggle="modal"></p>
                  <p flex="80" data-toggle="modal">Meeting Reminder</p>
              </md-button>
          </md-list-item>
          <md-list-item layout="row">
              <md-button ng-click="template3(); toggleLeft()" layout="row">
                  <p class="fa fa-pencil-square-o fa-lg" style="color: teal;" flex="20" data-toggle="modal"></p>
                  <p flex="80" data-toggle="modal">Lunch Set-Up</p>
              </md-button>
          </md-list-item>
          <md-list-item layout="row">
              <md-button ng-click="template4(); toggleLeft()" layout="row">
                  <p class="fa fa-pencil-square-o fa-lg" style="color: teal;" flex="20" data-toggle="modal"></p>
                  <p flex="80" data-toggle="modal">Help ME!</p>
              </md-button>
          </md-list-item>
          <md-list-item layout="row">
              <md-button ng-click="template5(); toggleLeft()" layout="row">
                  <p class="fa fa-pencil-square-o fa-lg" style="color: teal;" flex="20" data-toggle="modal"></p>
                  <p flex="80" data-toggle="modal">Happy Vacations</p>
              </md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <!-- md-card with form inputs -->
    <md-content flex layout-padding style="background-color: #EEEEEE; height: 100%;">
      <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span hide-xs class="md-headline">Who do you want to write to?</span>
            <span hide-gt-xs class="md-headline" style="margin-top: -5%;">Who do you want to write to?</span>
            <span hide-xs class="md-subhead" style="color: grey; margin-top: -1%;">Search for existing recipients or enter their information manually.</span>
            <span hide-gt-xs class="md-subhead" style="font-size: 80%; color: grey; margin-top: -2%; line-height: 12px;">Search for existing recipients or enter their information manually.</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div style="width: 100%;">

            <!-- Form -->
            <form name="userForm" novalidate>

              <div layout-gt-sm="row">

                <!-- Name input with autocomplete -->
                <div style="width: 100%;">
                  <md-autocomplete flex required
                      md-input-name="name"
                      md-input-minlength="0"
                      md-input-maxlength="18"
                      md-no-cache="user.noCache"
                      md-selected-item="user.selectedItem"
                      md-search-text="user.searchNameText"
                      md-items="item in user.queryNameSearch(user.searchNameText)"
                      md-item-text="item.name"
                      md-floating-label="Name"
                      md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                      <span class="item-title">
                        <span><md-icon class="fa fa-user fa-lg" style="margin-top: -0.5%; color: orange;"></md-icon> {{item.name}}</span>
                      </span>
                      <span class="item-metadata">
                        <span class="item-metastat">
                          <span style="margin-right: 2%;"><md-icon class="fa fa-envelope" style="margin-top: 4%; color: blue;"></md-icon>{{item.email}}</span>
                        </span>
                        <span class="item-metastat">
                          <span><md-icon class="fa fa-phone" style="margin-top: 4%; margin-right: -3%; color: black;"></md-icon>{{item.phone}}</span>
                        </span>
                      </span>
                    </md-item-template>
                    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Name is required.</p>
                  </md-autocomplete>
                </div>

                <!-- Email input with autocomplete -->
                <div style="width: 100%;">
                  <md-autocomplete flex
                      md-input-name="email"
                      md-input-minlength="0"
                      md-input-maxlength="18"
                      md-no-cache="user.noCache"
                      md-selected-item="user.selectedItem"
                      md-search-text="user.searchEmailText"
                      md-items="item in user.queryEmailSearch(user.searchEmailText)"
                      md-item-text="item.email"
                      md-floating-label="Email"
                      md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                      <span class="item-title">
                        <span><md-icon class="fa fa-user fa-lg" style="color: orange;"></md-icon> {{item.name}}</span>
                      </span>
                      <span class="item-metadata">
                        <span class="item-metastat">
                          <span style="margin-right: 2%;"><md-icon class="fa fa-envelope" style="margin-top: 4%; color: blue;"></md-icon>{{item.email}}</span>
                        </span>
                        <span class="item-metastat">
                          <span><md-icon class="fa fa-phone" style="margin-top: 4%; margin-right: -3%; color: black;"></md-icon>{{item.phone}}</span>
                        </span>
                      </span>
                    </md-item-template>
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                    <div style="color: grey;" class="hint" ng-show="(!email.length && sms.length) || (email.length && !sms.length)">Enter an email and/or phone number.</div>
                  </md-autocomplete>
                </div>

                <!-- Phone input with autocomplete -->
                <div style="width: 100%;">
                  <md-autocomplete flex
                      md-input-name="phone"
                      md-input-minlength="0"
                      md-input-maxlength="18"
                      md-no-cache="user.noCache"
                      md-selected-item="user.selectedItem"
                      md-search-text="user.searchPhoneText"
                      md-items="item in user.queryPhoneSearch(user.searchPhoneText)"
                      md-item-text="item.phone"
                      md-floating-label="Phone Number"
                      md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                      <span class="item-title">
                        <span><md-icon class="fa fa-user fa-lg" style="color: orange;"></md-icon> {{item.name}}</span>
                      </span>
                      <span class="item-metadata">
                        <span class="item-metastat">
                          <span style="margin-right: 2%;"><md-icon class="fa fa-envelope" style="margin-top: 4%; color: blue;"></md-icon>{{item.email}}</span>
                        </span>
                        <span class="item-metastat">
                          <span><md-icon class="fa fa-phone" style="margin-top: 4%; margin-right: -3%; color: black;"></md-icon>{{item.phone}}</span>
                        </span>
                      </span>
                    </md-item-template>
                    <p ng-show="userForm.phone.$invalid && !userForm.phone.$pristine" class="help-block">Enter a valid number.</p>
                  </md-autocomplete>
                </div>

              </div>

              <!-- Message input -->
              <md-input-container class="md-block" style="margin-top: -0.5%;">
                <label>Message</label>
                <textarea ng-model="user.message" md-maxlength="140" rows="7" md-select-on-focus required></textarea>
              </md-input-container>

              <!-- Submit form (Send) button -->
              <div>
                <md-button ng-click="submit(user.message, userForm)" class="md-raised md-primary" ng-disabled="userForm.$invalid">Send</md-button>
              </div>

            </form>
          </div>

        </md-card-content>
      </md-card>
    </md-content>

  </section>
</div>
